a:hover{
  text-decoration:none;
}
body{
  padding-bottom:30px;
}
.border{
  border:solid #e6e6e6 2px;
}


/*below: responsive on iphone 6, iphone 6s, iphone 5*/
@media screen and (min-width:300px){
  .home_nav{
    font-family:PT sans,helvetica,sans-serif;
    font-size:32px
;
    color:black;
  }
  .text_responsive{
    padding-left: 50px;
    padding-right: 50px;
  }
  .dscp_responsive{
    padding-left: 30px;
    padding-right: 10px;
  }
  .box_responsive{
    padding-left:10px;
    padding-right: 10px;
  }
  .body_home{
    margin-top:20px;
    font-size:25px
;
  }
  .profile_img{
    width:25%;
    margin-top: 20px;
  }
  ul{
    font-size:28px
;
  }
  h1{
    font-size:30px
;
    font-family:PT Sans,helvetica,sans-serif;
    font-weight:lighter;
    padding-bottom:20px;
    color:gray;
  }
  h3{
    font-size:40px;
  }
  p{
    font-size:25px
;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.block_responsive{
  padding-left:10px;
  padding-right:10px;
}
.gallery_block{
  width:100%;
  padding-bottom:100%;
  position:relative;
}
.image{
  width:92%;
  padding-top:20px;
  padding-left:20px;
  position:absolute;
}

.content{
  float:left;
  padding-left:40px;
  padding-right:20px;
  padding-top: 20px;
  color:#8c8c8c;
}
.location{
  font-family:Monaco,sans-serif;
  color:#4775d1;
  font-size:26px;
  padding-left:20px;
  padding-right:20px;
}
.location:hover{
  color:#000;
}
/*below are the codes for thumbnail slideshows*/
.btn{
  margin-top:20px;
  width:55%;
  height:3%;
  margin-bottom:20px;
}
.thumb_pic{
  max-width:400px;
  max-height:100%;
  margin-top:10px;
  padding-bottom:20px;
}
.slideshow{
  background: #f2f2f2;
}
}
/*above: responsive on iphone 6, iphone 6s, iphone 5*/

/*below: responsive when width>1200px*/
@media screen and (min-width:1000px){
  .home_nav{
    font-family:PT sans,helvetica,sans-serif;;
    font-size:18px
;
    color:black;
  }

  .text_responsive{
    padding-left: 100px;
    padding-right: 100px;
  }
  .dscp_responsive{
    padding-left: 10px;
    padding-right: 0px;
  }
  .box_responsive{
    padding-left:200px;
    padding-right:200px;
  }
  .body_home{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size:15px
;
  }
  .profile_img{
    width:15%;
    margin-top: 10px;
  }
  ul{
    font-size:16px
;
  }
  p{
    font-size:16px
;
  }
  h3{
    font-size:24px
;
  }
  h1{
    font-size:14px
;
    padding-bottom:15px;
  }

.block_responsive{
  padding-left:285px;
  padding-right: 285px;
}



.gallery_block{
  width:50%;
  padding-bottom:50%;
  position:relative;
}
.image{
  margin-left:-22px;
  margin-top:-10px;
  position:absolute;
}

.content{
  float:left;
  position:absolute;
  font-size:14px;
  margin-right:20px;
  margin_right:20px;
  margin-top:10px;
  margin-bottom:10px;
  color:#8c8c8c;
}
.location{
  font-family:Monaco;
  font-size:10px;
  padding-left:0px;
  padding-right:10px;
}
/*below are the codes for thumbnail slideshows*/
.thumb_pic{
  max-width:100%;
  max-height:100px;
  margin-top:10px;
  padding-bottom:20px;
}
}
/*above: responsive when width>1200px*/
